<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width-device-width, initial-scale=1.0"/>
    <title>Document</title>
    <link rel="stylesheet" href="layout3.css">
</head>
<body>
    <div class="main">
        <h1> Our 2025 Keynote Speaker</h1>
        <div class="flex-container">
            <div class="flex-item">
                <img src="https://th.bing.com/th/id/OIP.To9_OpGnuEK6WGKFukeS0gHaIK?pid=ImgDet&rs=1">
                <div class="text"><h2> Lily Bratson</h2>
                <h4>Head of Marketing<br>The Hobbie Box</h4>
                <br>
                <h3><b>January 16</b></h3></div>
            </div>
            <div class="flex-item">
                <img src="https://th.bing.com/th/id/R.2f201c3e906f34b3031dfe0f54a6dfd2?rik=C5%2foBYehIT2cwg&riu=http%3a%2f%2fimage.tmdb.org%2ft%2fp%2foriginal%2fyQZKb2ED7muJJmwghlGzgDRAVVr.jpg&ehk=t3I1qGolB%2b%2bCoS7waoQUNCLiFpxIfrOz4BLyJR%2fn6i8%3d&risl=&pid=ImgRaw&r=0">
                <div class="text"><h2>Thomas Nico</h2>
                <h4>Directer of Design<br>Studio Rallias</h4>
                <br>
                <h3><b>January 17</b></h3></div>
            </div>
            <div class="flex-item">
                <img src="https://i.pinimg.com/originals/20/6d/86/206d86247fcda436bfeb9eaeb2e2b6db.jpg">
                <div class="text"><h2> Gensin Jeffery</h2>
                <h4>Founder and CEO<br>The Treasurebox Online</h4>
                <br>
                <h3><b>January 18</b></h3></div>
            </div>
        </div>
    </div>
</body>
</html>